/*  your css code here. If applicable */

.container{
	background-color:rgb(211, 211, 211);
	padding:10px;
}
ul.nav-items{
	display:flex;
	display:inline;
	list-style:none;
}

li{
	margin-right:16px;
}